body {
    background: url("../images/blue-bg.jpg") no-repeat;
    background-size: cover;
    color: #fff;
}
.logo {

    margin:15px 30px 0 0;
    display: inline-block;
    vertical-align: middle;
}
.platform-title {
    font-size:80px;
    color:#fff;
    text-align: center;

    font-weight: bold;
    margin-top: 25px;
    letter-spacing:30px;
}
.time-week {
    position: absolute;
    top:85px;
    right: 60px;
    font-size: 30px;
}
.time-change {

    height: 50px;
    line-height: 50px;
    width: 340px;
    margin:0 auto 25px;
    border-radius: 25px;
    background: rgba(255,255,255,0.1);
    border: 1px solid #6371c8;
    padding: 0 25px;
    font-size: 30px;
    position: relative;
}
.time-change::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color:#fff ;
    right:25px;
    top:20px;
}

.fl-l {
    float: left;width: 70%
}
.wrap {
    /*border: 1px solid #6371c8;*/
    border-radius: 10px;
    padding: 4px;
    position: relative;
    box-shadow: 0 0 8px #fff;
}
.wrap::before, .wrap::after{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
}
.wrap::before {
    left:0;
    top:0;
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
    border-top-left-radius: 10px;
}
.wrap::after{
    right:0;
    bottom:0;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    border-bottom-right-radius: 10px;

}
.common {
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    display: block;
    color: #fff;
    overflow: hidden;
    min-height: 50px;
}

.bjl-db ul li {
    width: 31%;
    float: left;
    margin-left:1.5%;
    text-align: center;
}

.bjl-db ul li span.common {
    font-size: 32px;
   padding:20px;
}

i.blue- {
    color: #53ade4;
    font-size: 54px;
    margin:0 5px;
}
i.red- {
    color: #f00;
    font-size: 54px;
    margin:0 5px;
}
.bjl-db ul li span.common span:last-of-type {
    border-left:4px solid #fff;
    margin-left:30px;
    padding-left: 30px;
}
i.green- {
    color: #22d715;
    font-size: 54px;
    margin:0 5px;
}
.overflow {
    overflow: hidden;
    padding: 8px 0;
    margin-top: 30px;
}
.today-inform,.map,.serves {
   float: left;
    width: 25%;
    margin-left: 2%;
}
.serves {
    width: 40%;
}
.map {
    width: 27%;margin-left: 1%;height: 1085px;
}
.pig {
    float: left;
    width: 27.5%;
    margin-left: 2%;
}
.today-inform ul li {
    padding:32px 0;
    margin:0 20px;
    font-size: 40px;
    border-bottom: 2px solid #6371c8;
}
.today-inform ul li span {
    font-size: 54px;
    color: #ecd11b;
    margin: 0 10px;
}
.today-inform ul li:last-of-type {
    /*border-top: 2px solid #6371c8;*/
    /*border-bottom: 2px solid #6371c8;*/
    border-bottom: none;
    padding: 22px 0;
}
.today-inform ul li:last-of-type span {
    font-size: 40px;
    display: block;
    text-align: right;


}
.cur-year {
    width:40%;
    float: left;
    margin-top: 40px;
    margin-left:2%;
}
.cur-month {
    width:55%;
    float: left;
    margin-top: 40px;
    margin-left:2%;
}
.serves h4,.pig h4,.map h4 {
    margin:10px 0 30px;
    font-size: 40px;
    text-align: center;
}

.phb {
  margin-bottom: 20px;
}
.phb li {
    height: 56px;
    line-height: 56px;
    position: relative;
    margin: 5px 20px;
    font-size: 30px;

}
.phb li span {
    height: 100%;
    margin-left: 10px;
    color:#fff;
    font-size:30px;
    position: relative;
    display: inline-block;
    border:1px solid #7b95c8;
    width: 78%;
    vertical-align: middle;
}
.phb li span::after {
    content: "";
    position: absolute;
    height: 100%;
    top:0;
    left:0;
    width: 20%;
    background: #00c0c5;
}
.phb li i {
    position: absolute;
    right: 0;
    background: rgba(255,167,11,0.7);
    color:#fff;
    height: 100%;
    font-size:30px;
    padding: 0 20px;
    width: 100px;
}
.phb li span em {
    position: absolute;
    z-index: 2;
    left:10px;
}

.item-list {
    padding-bottom: 20px;
}
.item-list ul li {
    height: 74px;
    line-height: 74px;
    font-size: 30px;
    margin: 15px 20px 0;
}
.item-list ul li span {

    padding: 0 10px;
    background-image: linear-gradient(to right, rgba(84, 161, 247, 0.7) 50%, rgba(15, 206, 95,0.7) 100% );
    display: inline-block;
    vertical-align: middle;
    width: 82%;
    border-radius: 10px;
}
.item-list ul li i {
    display: inline-block;
    vertical-align: middle;
    padding: 0 30px;
    background: #34aaee;
    border-radius: 10px;
    margin-left: 10px;
}
